SUBSYSTEM=="input", KERNEL=="event*", ATTRS{idVendor}=="1b1c", ATTRS{idProduct}=="2b00", TAG+="uaccess"
SUBSYSTEM=="misc", KERNEL=="uinput", TAG+="uaccess"
